{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <div class="card text-center">
      <div class="card-header text-primary">
        <h1>More About Hood Watch Application</h1>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-success">You have been recently tasked
                  with a software development project to produce a software
                  product that enables user to monitor the security within their
                   neighbourhood following a recent spate of muggings and house
                    break-ins.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
